<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Band Name</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>


  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><a href="/">Home</a></li>
        <li><a href="/artist/1">Biog</a></li>
        <li><a href="/artist/1/releases">Discog</a></li>
      </ul>
    </div>
  </div>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>


        <div class="off-canvas-content" data-off-canvas-content>
          <div class="row small-up-2 medium-up-3 large-up-4">
            <div class="column">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>


